body{
    background-image: url("{% static 'image/background.png' %}");
}
 
.client-login {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}

.form-style {
    margin-right: auto;
    margin-left: auto;
}

.form-style form {
    width: 300px;
}

.titlecontents {
    text-align: center;
h1{
    color:crimson;
}
h2{
    color:darkblue;
}
}

.btn btn-secondary dropdown-toggle dropdown-toggle-split{

    background-color: black;
}

.img1 {
    width: 35%; 
    height: 60%;
    float: left;
    margin-right: 10%;
    margin-left: 10%;
}

.img2 {
    width: 35%; 
    height: 20%;
    float: right;
    margin-right: 10%;
    margin-top: 10%;
}

.img3 {
    width: 100%; 
    height: 100%;
    float: left;
    margin-right: 0%;
    margin-left: 10%;
    border-radius: 2%;
}


.titlecontents {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0;

}

.backbutton {
    margin-left: 90%; 
    margin-bottom: -9%; 
}
.titlecontents img {
    max-width: 100%;
    height: auto;
}
.client-login {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    height: 100%;
}
.form-style h3 {
    margin-bottom: 20px;
}
.form-checkbox {
    display: flex;
    align-items: center;
}
.form-checkbox input {
    margin-right: 2%;
}

body, html {
    height: 100%;
    margin: 0;
}

.container {
    height: 100vh;
    margin-top: -80px; /* Further adjust margin-top to reduce space */
    /* background-color: rgb(118, 175, 222); */
    background-color: rgb(207, 213, 233);
    border-radius: 2%;
}

.card-title {
    text-align: center;
}


