<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>Staff Login Page</title>  
    <style>
        body {
            background-color: rgb(220, 231, 240);
        }

        .titlecontents {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .backbutton {
            margin-top: -0.25%;
        }
    </style>
  
</head>
<body>
    <div class="titlecontents text-center my-4">
        <h1>Divine Health and Care Services</h1>
        <h2>Staff Login Page</h2>
    </div>
    <div class="backbutton text-center mb-4">
        <a href="{% url 'home-page' %}">
            <button type="button" class="btn btn-secondary">Back</button>
        </a>    
    </div>    
    <div class="container d-flex justify-content-center align-items-center my-3" style="max-height: 450px; background-color: rgb(118, 175, 222);">
        <div class="row w-100">
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <img class="img3" src="{% static 'image/Picture3.png' %}" alt="home-image" style="max-height: 400px;">
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <div class="card text-bg-primary mb-3 client-login w-100" style="max-width: 400px;">
                    <div class="card-title mb-3 mt-3 form-style text-center">
                        <h3>Staff Login</h3>

                        <form class="mb-3 mt-3" method="post" action="{% url 'staff-login' %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <input type="text" class="form-control" name="username" placeholder="Username">
                            </div>
                            <div class="mb-3">
                                <input type="password" class="form-control" name="password" placeholder="Password">
                            </div>
                            <div class="mb-3 form-checkbox text-start">
                                <input type="checkbox" value="" id="dlexCheckDefault"> Remember Me
                                <a href="{% url 'forgetpw' %}" style="margin-left: 20%; color: aliceblue;">Forget Password</a>
                            </div>
                            <br>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-secondary w-100">Login Now</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
